# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/secrets.toml

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Build & distribution folders
build/
dist/
*.egg-info/

# Uploaded files
uploads/
data/

# Cache
.cache/

cache/